@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-charcoal text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #ff7b00;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff9500;
}

